* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

h2 {
  font-size: 40px;
  color: rgb(44, 21, 0);
}

.hero {
  display: flex;
  width: 1280px;
  height: 740px;
  margin: 0 auto;
}
.hero__image {
  flex: 0 0 608px;
  position: relative;
}
.hero__image .logo {
  position: absolute;
  top: 40px;
  left: 56px;
  z-index: 10;
}
.hero__image .logo img {
  width: 36px;
  height: 36px;
}
.hero__image .main-plant {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.hero__content {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  padding: 40px 56px 0 82px;
}
.top-nav .nav-actions {
  display: flex;
  align-items: center;
  width: 100%;
}
.top-nav .nav-icons-group {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 225px;
  margin-top: 3px;
}
.top-nav .nav-icons-group img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.top-nav .nav-auth-group {
  display: flex;
  align-items: center;
  gap: 27px;
  margin-left: auto;
  margin-top: 2px;
}
.top-nav .nav-auth-group .nav-link {
  text-decoration: none;
  color: #156963;
  font-weight: 500;
  font-size: 14px;
}

.btn-signin {
  background-color: #156963;
  color: #ffffff;
  border: none;
  width: 111px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
}
.btn-signin:hover {
  opacity: 0.9;
}

.text-group {
  padding: 115px 0 0 80px;
}
.text-group .hero__title {
  font-size: 68px;
  font-weight: 500;
  line-height: 1.2;
  color: #156963;
  margin-bottom: 24px;
}
.text-group .hero__text {
  font-size: 18px;
  line-height: 1.8;
  color: rgb(44, 21, 0);
  max-width: 480px;
}

.pagination {
  display: flex;
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
}
.pagination .pag-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 160px;
  padding-top: 42px;
}
.pagination .prev {
  flex: 1;
  background-color: #ffffff;
  padding-left: 95px;
}
.pagination .prev .pag-arrow {
  color: rgba(81, 81, 81, 0.6352941176);
  font-weight: 400;
  margin-bottom: 13px;
  font-size: 24px;
  cursor: pointer;
}
.pagination .prev .pag-title {
  margin-left: -1px;
  font-size: 32px;
  color: #156963;
}
.pagination .next {
  flex: 0 0 320px;
  background-color: #156963;
  padding-left: 48px;
}
.pagination .next .pag-arrow {
  color: rgba(242, 242, 242, 0.555);
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 24px;
  cursor: pointer;
}
.pagination .next .pag-title {
  font-size: 32px;
  color: #ffffff;
}

.features {
  padding: 140px 0 20px;
  display: flex;
  justify-content: center;
}
.features__container {
  width: 1168px;
  display: flex;
  gap: 32px;
}
.features .feature-card {
  flex: 1;
  height: 155px;
  padding: 24px 28px;
  border: 1px solid rgb(224, 224, 224);
}
.features .feature-card .feature-header {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}
.features .feature-card .feature-header img {
  margin-left: -5px;
  width: 48px;
  height: 48px;
}
.features .feature-card .feature-header .feature-title {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 16px;
  color: #156963;
  line-height: 1.3;
}
.features .feature-card .feature-text {
  font-size: 10px;
  line-height: 1.6;
  color: #333333;
  opacity: 0.8;
}

.featured-plants {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
.featured-plants__container {
  width: 1168px;
}
.featured-plants .plants-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.featured-plants .plants-header__title h4 {
  font-size: 20px;
  color: #333333;
}
.featured-plants .plants-header__select-sort {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid rgb(224, 224, 224);
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
}
.featured-plants .plants-header__select-sort img {
  width: 12px;
}
.featured-plants .plants-header__hr {
  flex: 0 0 100%;
  margin-top: 15px;
  border: 0;
  border-top: 1px solid rgb(224, 224, 224);
}
.featured-plants .plants-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.featured-plants .plants-list .plant-card {
  width: 217px;
  text-align: center;
}
.featured-plants .plants-list .plant-card img {
  width: 100%;
  margin-bottom: 14px;
}
.featured-plants .plants-list .plant-card .plant-name {
  margin-bottom: 8px;
  font-size: 16px;
}
.featured-plants .plants-list .plant-card .plant-idr {
  font-weight: 600;
  color: #333333;
}

.main-info {
  padding: 28px 0px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.main-info .info-container {
  width: 1168px;
  display: flex;
  gap: 80px;
}
.main-info .info-text-side {
  flex: 0 0 522px;
  display: flex;
  flex-direction: column;
}
.main-info .info-text-side .info-title {
  font-weight: 700;
  line-height: 1.4;
  margin-left: 25px;
  margin-bottom: 18px;
  max-width: 522px;
}
.main-info .info-text-side .info-description {
  font-size: 16px;
  line-height: 1.78;
  color: rgb(44, 21, 0);
  margin-left: 20px;
  margin-bottom: 72px;
  max-width: 506px;
}
.main-info .info-text-side .info-image-small {
  width: 568px;
  height: 250px;
  overflow: hidden;
}
.main-info .info-text-side .info-image-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-info .info-image-large {
  flex: 1;
  width: 513px;
  height: 610px;
  margin-top: -7px;
}
.main-info .info-image-large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1168px;
  height: 360px;
  margin: 52px auto 5px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}
.shop-banner__title {
  display: flex;
  flex-direction: column;
  flex: 0 0 610px;
  padding-left: 30px;
  margin-left: 70px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.shop-banner__title h2 {
  margin-top: 85px;
  font-size: 40px;
  letter-spacing: 0.2px;
  line-height: 1.38;
  margin-bottom: 32px;
  font-weight: 700;
}
.shop-banner__button {
  background-color: #156963;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.shop-banner__img {
  flex: 0 0 480px;
  width: 480px;
  height: 360px;
  display: flex;
}
.shop-banner__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top top;
     object-position: top top;
  transform: scale(1.5) translateY(-7%);
}

.footer {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.footer__container {
  width: 1168px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;
}
.footer__divider {
  width: 1168px;
  border: none;
  border-top: 1px solid rgb(224, 224, 224);
  margin-bottom: 48px;
}
.footer__brand {
  flex: 0 0 300px;
  margin-left: 116px;
  margin-top: 5px;
}
.footer__brand .footer__logo {
  font-size: 24px;
  font-weight: 500;
  color: #156963;
  margin-bottom: 25px;
  letter-spacing: 0px;
  line-height: 1;
}
.footer__brand .footer__address-title {
  font-weight: 600;
  font-size: 16px;
  margin-left: 2px;
  margin-bottom: 8px;
  letter-spacing: -0.5px;
  color: #333333;
}
.footer__brand .footer__address-text {
  font-size: 13px;
  font-weight: 200;
  line-height: 1.6;
  margin-left: 3px;
  color: #333333;
  max-width: 300px;
}
.footer__nav {
  display: flex;
  margin-left: 50px;
  gap: 40px;
}
.footer__col {
  flex: 0 0 120px;
  margin-left: 14px;
}
.footer__col h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 16px;
  color: #333333;
}
.footer__col ul {
  list-style: none;
}
.footer__col ul li {
  margin-bottom: 15px;
}
.footer__col ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  transition: color 0.3s;
}
.footer__col ul li a:hover {
  color: #156963;
}
.footer__subscribe {
  flex: 0 0 250px;
  margin-left: 94px;
  margin-top: 4px;
  padding-right: 20px;
}
.footer__subscribe h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333333;
}
.footer__subscribe .subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__subscribe .subscribe-form input {
  width: 234px;
  height: 32px;
  padding: 0px 12px;
  border: 1px solid rgb(224, 224, 224);
  font-size: 12px;
  outline: none;
}
.footer__subscribe .subscribe-form .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #156963;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  width: 51px;
  height: 22px;
  cursor: pointer;
  font-size: 8px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */